body {
    background-color: #1a1a1a;

    &.dark {
        background-color: #1a1a1a;
        color: #fff;
    }

    &.light {
        background-color: #fff;
        color: #333;
    }
}


.app-container {
    &.dark {
        background-color: #1a1a1a;
        color: #fff;
    }

    &.light {
        background-color: #fff;
        color: #333;
    }

    /* Garantir que o container principal não cause scroll na tela */
    height: 98vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main-layout {

    display: flex;
    justify-content: center;
    height: 75%;
    padding: 1% 0;
    width: 90%;
    box-sizing: border-box;
    box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    margin: 0 auto;
    margin-top: 20px;


    .content {
        flex: 1;
        padding: 20px;
        height: 100%;
        overflow-y: auto;
        box-sizing: border-box;

        // Definindo as variáveis CSS para o scrollbar
        --sb-track-color: #000506;
        --sb-thumb-color: #3e8ecf;
        --sb-size: 8px;

        // Estilização para Chrome, Edge e Safari (WebKit)
        &::-webkit-scrollbar {
            width: var(--sb-size);
        }

        &::-webkit-scrollbar-track {
            background: var(--sb-track-color);
            border-radius: 3px;
        }

        &::-webkit-scrollbar-thumb {
            background: var(--sb-thumb-color);
            border-radius: 3px;
        }

        // Estilização para Firefox
        @supports not selector(::-webkit-scrollbar) {
            scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
        }

    }
}

.footer {
    text-align: center;
    padding: 20px;
    color: #3e8ecf;
    height: 60px;
    width: max-content;
    border-radius: 8px;
    margin: 0 auto;

    .footer-links {
        display: flex;
        justify-content: center;
        gap: 10px;

        svg {
            fill: #3e8ecf;
            transition: all 0.3s ease;
        }

        svg:hover {
            fill: #3e8ecf;
            transform: scale(1.1);
        }

    }
}