.app-container {
    &.dark {
        background-color: #1a1a1a;
        color: #fff;
    }

    &.light {
        background-color: #fff;
        color: #333;
    }

    /* Garantir que o container principal não cause scroll na tela */
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main-layout {
    display: flex;
    height: calc(100vh - 60px - 60px);
    /* Altura entre Header (60px) e Footer (60px) */
    margin-top: 60px;
    /* Altura do Header */
    width: 100%;
    box-sizing: border-box;

    .content {
        flex: 1;
        /* Ocupa o espaço restante */
        padding: 20px;
        height: 100%;
        /* Ocupa a altura disponível */
        overflow-y: auto;
        /* Scroll apenas dentro do .content */
        box-sizing: border-box;
    }
}

.footer {
    text-align: center;
    padding: 20px;
    background-color: #111;
    color: #fff;
    height: 60px;
    /* Altura fixa do Footer */
    width: 100%;
}