.content-posts {
    h2 {
        font-size: 22px;
        margin: 0;
        margin-bottom: 30px;
        color: #ffffff;
    }
}

.post {
    padding: 15px;
    border-radius: 8px;
    color: #ffffff;
    height: auto;



    h3 {
        margin: 0;
        margin-bottom: 30px;
        font-size: 18px;
        color: #ffffff;
    }

    p {

        margin-bottom: 12px;
        font-size: 16px;
        color: #b3b3b3;

    }

    .code-block {
        background-color: #000;
        padding: 10px 30px;
        border-radius: 5px;
        margin-bottom: 30px;

        pre {
            @media (max-width: 768px) {
                font-size: 8px;
            }
        }

    }
}