.rotating-text {
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
    background-color: #4a90e2;
    width: max-content;
    width: 100%;
    padding: 5% 10%;
    text-align: center;
    font-size: 72px;
    border-radius: 10px;
    background-color: none;

    @media (max-width: 768px) {
        display: flex;
        justify-content: right;
        font-size: 48px;
        align-items: flex-start;
    }

}

.text-rotate {
    display: flex;
    flex-wrap: wrap;
    white-space: pre-wrap;
    position: relative;
}

.text-rotate-word {
    display: inline-flex;
}

.text-rotate-element {
    display: inline-block;
    font-weight: 600;
    color: #000;

}

.text-rotate-space {
    white-space: pre;
}

.text-rotate-sr-only {
    position: absolute;
    width: 1px;
    height: 100px;
    padding: 5%;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.text-rotate-lines {
    display: flex;
    flex-direction: column;
    width: 100%;
}