.sidebar {
    width: calc(max-content - 20px);
    padding: 20px;
    height: auto;
    box-sizing: border-box;
    overflow-y: auto;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;

    // Definindo as variáveis CSS para o scrollbar
    --sb-track-color: #000506;
    --sb-thumb-color: #3e8ecf;
    --sb-size: 8px;

    // Estilização para Chrome, Edge e Safari (WebKit)
    &::-webkit-scrollbar {
        width: var(--sb-size);
    }

    &::-webkit-scrollbar-track {
        background: var(--sb-track-color);
        border-radius: 3px;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--sb-thumb-color);
        border-radius: 3px;
    }

    // Estilização para Firefox
    @supports not selector(::-webkit-scrollbar) {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }

    &.dark {
        background-color: #1a1a1a;
        color: #fff;

        h2 {
            color: #fff;
        }

        ul li {
            color: #fff;

            &:hover {
                background-color: #444;
            }

            &.active {
                background-color: #555;
            }
        }
    }

    &.light {
        background-color: #fff;
        color: #333;

        h2 {
            color: #333;
        }

        ul li {
            color: #333;

            &:hover {
                background-color: #ddd;
            }

            &.active {
                background-color: #bbb;
            }
        }
    }

    h2 {
        font-size: 1.5rem;
        margin: 0;
    }

    ul {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 10px;

        li {
            padding: 2px 0;
            cursor: pointer;
            border-radius: 4px;
            transition: all 0.4s ease-in-out;

            &:hover {
                opacity: .5;
                border-bottom: 1px solid var(--sb-thumb-color);
                padding: 5%;
                text-align: center;
            }

            &.active {
                opacity: .5;
                border-bottom: 1px solid var(--sb-thumb-color);
                padding: 5%;
                text-align: center;
            }
        }
    }

    // Media query para telas menores que 768px
    @media (max-width: 768px) {
        position: fixed;
        top: 0;
        left: -100%;
        width: 70%;
        height: 100vh;
        z-index: 997;
        transition: left 0.3s ease-in-out;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
        background: #000;

        &.open {
            left: 0;
        }

        ul {
            padding-top: 2rem;

            li {
                padding: 1rem;
                text-align: center;
                width: 100%;

                &:hover {
                    background-color: rgba(255, 255, 255, 0.1);
                }
            }
        }
    }
}

// Estilos do botão do menu hamburguer (fora da classe .sidebar)
.sidebar-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    z-index: 9999;
    position: fixed;
    top: 35%;
    left: 20px;
    transform: translateY(-50%);
    width: 25px;
    height: 20px;

    span {
        display: block;
        width: 25px;
        height: 2px;
        background-color: #fff;
        margin: 4px 0;
        transition: all 0.3s ease-in-out;
        position: relative;
    }

    &.open {
        span:nth-child(1) {
            transform: rotate(45deg) translate(4px, 4px);
        }

        span:nth-child(2) {
            opacity: 0;
        }

        span:nth-child(3) {
            transform: rotate(-45deg) translate(4px, -4px);
        }
    }

    @media (max-width: 768px) {
        display: block;
    }
}